* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons__container {
  width: 80%;
  /* flex-wrap: wrap; */
  text-align: center;
  margin-bottom: 2rem;
}

.type__button {
  padding: 10px;
  min-width: 72px;
  border: none;
  border-radius: 5px;
  margin: 1px;
  font-family: inherit;
  outline: none;
  cursor: pointer;
}

.type__button:hover {
  opacity: 60%;
  /* border: 1px solid white; */
}

/* Colors for each type button */
.bug__button {
  background-color: #a8b820;
}

.dark__button {
  background-color: #705848;
}

.dragon__button {
  background-color: #7038f8;
}

.electric__button {
  background-color: #f8d030;
}

.fairy__button {
  background-color: #ee99ac;
}

.fighting__button {
  background-color: #c03028;
}

.fire__button {
  background-color: #f08030;
}

.flying__button {
  background-color: #a890f0;
}

.ghost__button {
  background-color: #705898;
}

.grass__button {
  background-color: #78c850;
}

.ground__button {
  background-color: #e0c068;
}

.ice__button {
  background-color: #98d8d8;
}

.normal__button {
  background-color: #a8a878;
}

.poison__button {
  background-color: #a040a0;
}

.psychic__button {
  background-color: #f85888;
}

.rock__button {
  background-color: #b8a038;
}

.steel__button {
  background-color: #b8b8d0;
}

.water__button {
  background-color: #6890f0;
}
/****************************/

.pokemon__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.pokemon {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: solid 1px black;
  margin: 20px;
  padding: 20px;
  text-align: center;
  max-width: 30%;
  min-width: 320px;
  height: auto;
  box-shadow: 1px 3px 3px black;
}

.pokemon:hover {
  transform: scale(1.05);
  background-color: lightblue;
}

.pokemon__name {
  margin-bottom: 2rem;
}

.pokemon__desc {
  line-height: 1.4rem;
}

.pokemon__image {
  width: 200px;
  height: auto;
}

@media (max-width: 1000px) {
  .pokemon {
    width: 40%;
  }
}

/* @media (max-width: 600px) {
    .pokemon {
        width: 50%;
    }
} */
